page-user-project-interview-answer {
    .help-references {
        border-radius: 20px !important;
    }

    .interview-answer-content {
        .question-box {
            background-color: #FA9868;
            border-radius: 10px;
            box-shadow: 0px 8px 14px 4px rgba(0,0,0,0.15);
            .question-header {
                color: rgba(255,255,255,0.8);
                display: flex;
                align-items: center;
                .q-mark {
                    font-size: 2.5rem;
                }
                .buttons-wrapper {
                    display: inline-flex;
                    position: absolute;
                    right: 48px;
                    font-size: 1.2rem;
                }
            }
            .question-content {
                color: #fff;
                line-height: 1.4;
                font-size: 1.4rem;
                font-weight: 500;
                transition: all 0.4s ease-out;
                overflow: hidden;
            }
        }
    }
    .answer-box {
        .answer-mark-wrapper {
            display: flex;
            .a-mark {
                font-size: 2.5rem;
                color: #383838;
            }
            .text-count-box {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;   
                .point-wrapper {
                    display: flex;
                    // align-items: center;
                    .coin-icon {
                        display: inline-flex;
                        margin-right: 8px;
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                    
                    .point {
                        font-size: 1.7rem;
                        display: inline-block;
                        font-weight: bold;
                    }
                }
                .text-count {
                    text-align: right;
                    font-size: 8px;
                }
            }
        }
        .answer-content {
            padding: 4px;
            padding-top: 10px;
        }
    }
}

@keyframes pulseAnimation {
    0% {transform: scale(1.2);}
    100% {transform: scale(1);}
}
.pulse-animated {
    animation: pulseAnimation 0.3s;
}

.editor-default-footer {
    .text-count-wrapper {
        position: relative;
    }
    .progress-outer {
        width: 100%;
        text-align: center;
        background-color: rgba(175, 176, 177, 0.4);
        border: 0;
    }
    .progress-inner {
        height: 3px;
        white-space: nowrap;
        overflow: hidden;
        background-color: #ff6400;
        transition: all 0.4s ease-out;
    }
    .toolbar-background {
        border: 0;
    }
    ion-buttons[start] {
        order: 1;
    }
    .toolbar {
        min-height: 50px;
        height: 50px;
    }
    .bar-button {
        width: 2em;
        font-size: 1.3rem !important;
        color: #484848;
    }
    .count-button {
        .button-inner {
            text-align: left;
            justify-content: left;
        }
    }
    .title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex: 1;
        align-items: center;
        transform: translateZ(0);
        padding: 0;
        position: relative;
        .toolbar-title {
            display: flex;
            flex-flow: row nowrap;
            flex-shrink: 0;
            align-items: center;
            -webkit-box-pack: center;
            width: 100%;
            height: 100%;
            .interview-point-wrapper {
                margin: 0 auto;
                font-size: 14px !important;
            }
        }
    }
}